HELP.md
target/
.ipynb_checkpoints/
jmeter.log
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Misc ###
/user-data-generation/data/
/user-data-generation/generated_data/
/wrk-search-load/no_index.csv
/wrk-search-load/with_index.csv
/social-network/db-data/
